*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.login-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0b8f4d,#27ae60,#2ecc71);
padding:40px;
}

.login-card{
width:100%;
max-width:1100px;
display:flex;
background:white;
border-radius:25px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,.3);
}

.login-left{
flex:1;
background:linear-gradient(135deg,#198754,#157347);
color:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.login-left img{
width:260px;
margin-top:30px;
}

.login-left h1{
font-size:42px;
font-weight:bold;
}

.login-left p{
margin-top:20px;
font-size:18px;
line-height:1.8;
}

.login-right{
flex:1;
padding:60px;
}

.login-right h2{
font-size:36px;
font-weight:bold;
color:#198754;
}

.login-right p{
color:gray;
margin-bottom:30px;
}

.input-box{
display:flex;
align-items:center;
background:#f5f5f5;
padding:15px;
margin-bottom:20px;
border-radius:10px;
}

.input-box span{
font-size:20px;
margin-right:10px;
}

.input-box input{
flex:1;
border:none;
background:none;
outline:none;
font-size:16px;
}

.eye-btn{
background:none;
border:none;
font-size:20px;
cursor:pointer;
}

.options{
display:flex;
justify-content:space-between;
margin-bottom:25px;
font-size:14px;
}

.options a{
text-decoration:none;
color:#198754;
font-weight:bold;
}

.login-btn{
width:100%;
padding:15px;
border:none;
background:#198754;
color:white;
font-size:18px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#146c43;
transform:scale(1.03);
}

.divider{
text-align:center;
margin:25px 0;
color:gray;
font-weight:bold;
}

.google-btn{
width:100%;
padding:15px;
border:2px solid #198754;
background:white;
color:#198754;
font-size:17px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.google-btn:hover{
background:#198754;
color:white;
}

.register-text{
margin-top:25px;
text-align:center;
}

.register-text a{
margin-left:10px;
font-weight:bold;
color:#198754;
text-decoration:none;
}

@media(max-width:900px){
.login-card{
flex-direction:column;
}

.login-left{
padding:40px;
}

.login-right{
padding:40px;
}

.login-left img{
width:180px;
}
}